@use '../../styles/mixin';
@use '../../styles/variables';

.loader__container{
  @include mixin.flex-layout(column);
  height: 100vh;
  row-gap: 2%;
  font-family: variables.$font-roboto-bold;
}

.loader {
  @include mixin.loader-styles(100px, variables.$gradient);
  animation: animate 0.4s linear infinite;
}
.loader span {
  position: absolute;
  @include mixin.loader-styles(100px, variables.$gradient);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #000000;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}