@use '../../styles/variables';
@use '../../styles/global';
@use '../../styles/mixin';

.movie_specs {
  @include mixin.grid-layout([movieimage] .8fr [moviedetail] 1fr);
  padding: 6%;
  margin: 0 auto;
  background: linear-gradient(to top, variables.$primary_color 90%, #00000000 100%);

  @include mixin.media-grid(900px, [movieimage] .8fr [moviedetail] 1fr);
}

.movie__image{
  width: 100%;  
  grid-area: movieimage;

  img{
    max-width: 500px;
    border-radius: 4px;
  }
}
.movie__details{
  @include mixin.flex-layout(column, flex-start, flex-start);
  gap: 10px;
  grid-area: moviedetail;
  padding-top: 24px;

  &__header{
    padding: 2%;
    font-size: 2rem;
  }
  &__body{
    max-width: 80%;
    padding: 2%;
    font-family: variables.$font-roboto-light;
    p{
      padding-bottom: 10px;
      line-height: 23px;
      letter-spacing: 0.3px;
      text-align: left;
      font-size: 16px;
    }
  }
}



.button {
  margin-top: 24px;
  align-items: center;
  background-image: linear-gradient(144deg,variables.$accent_color_one, variables.$accent_color_two, 50%, variables.$accent_color_three);
  border: 0;
  border-radius: 8px;
  box-shadow: variables.$shadow_color 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: variables.$font-roboto-light;
  font-size: 16px;
  justify-content: center;
  line-height: 23px;
  letter-spacing: 0.3px;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

  &:active{
    outline: 0;
  }
  &:hover{
    outline: 0;
  }

  &__text{
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;

    &:hover{
      background: none;
    }
  }
}