@use '../../styles/variables';
@use '../../styles/global';
@use '../../styles/mixin';

.movie_specs {
  @include mixin.grid-layout([movieimage] .8fr [moviedetail] 1fr);
  padding: 6%;
  margin: 0 auto;
  background: linear-gradient(to top, variables.$primary_color 90%, #00000000 100%);

  @include mixin.media-grid(900px, [movieimage] .8fr [moviedetail] 1fr);
}

.movie__image{
  width: 100%;  
  grid-area: movieimage;

  img{
    max-width: 500px;
    border-radius: 4px;
  }
}
.movie__details{
  @include mixin.flex-layout(column, flex-start, flex-start);
  gap: 10px;
  grid-area: moviedetail;
  padding-top: 24px;

  &__header{
    padding: 2%;
    @include mixin.font-size(xlarge); 
  }
  &__body{
    max-width: 80%;
    padding: 2%;
    @include mixin.text-format(variables.$font-roboto-light, large);
    
    p{
      padding-bottom: 10px;
      @include mixin.text-details(23px,0.3px,left);
    }
  }
}

.button {
  @extend %button;
  @include mixin.text-format(variables.$font-roboto-light, large);
  margin-top: 24px;

  &__text{
    background-color: variables.$primary_color;
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;
    
    &:hover{
      background: none;
    }
  }
}

.recos__header{
  padding: 0 0 2% 2%;
  @include mixin.text-format(variables.$font-roboto-bold, xlarge);
}