@use '../../styles/variables';

.movie_specs {
  display: grid;
  grid-template-columns: [movieimage] .8fr [moviedetail] 1fr;
  column-gap: 10px;
  padding: 6%;
  margin: 0 auto;
  background: linear-gradient(to top, rgb(0 0 0) 90%, rgba(0, 0, 0, 0) 100%);

  @media screen and (max-width: 900px) {
    grid-template-columns: auto;
    grid-template-rows: [movieimage] .8fr [moviedetail] 1fr;
  }
}
.Action {
  background: linear-gradient(to top, #281a1a 90%, rgba(0, 0, 0, 0) 100%);
}
.Adventure {
  background: linear-gradient(to top, #333052 90%, rgba(0, 0, 0, 0) 100%);
}
.Animation {
  background: linear-gradient(to top, #004064 90%, rgba(0, 0, 0, 0) 100%);
}
.movie__image{
  width: 100%;  
  grid-area: movieimage;

  img{
    max-width: 500px;
    border-radius: 4px;
  }
}
.movie__details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: moviedetail;
  padding-top: 24px;

  &__header{
    padding: 2%;
    font-size: 2rem;
  }
  &__body{
    max-width: 80%;
    padding: 2%;
    font-family: 'Roboto-light';
    p{
      padding-bottom: 10px;
      line-height: 23px;
      letter-spacing: 0.3px;
      text-align: left;
      font-size: 16px;
    }
  }
}

/* CSS */
.button {
  margin-top: 24px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Roboto-light';
  font-size: 16px;
  justify-content: center;
  line-height: 23px;
  letter-spacing: 0.3px;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

  &:active{
    outline: 0;
  }
  &:hover{
    outline: 0;
  }

  &__text{
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;

    &:hover{
      background: none;
    }
  }
}