@use './variables';
@use './mixin';
@use 'sass:map';

$genre-fonts: (
  Action: variables.$font-action,
  Animation: variables.$font-animation,
  Adventure: variables.$font-adventure,
  Comedy: variables.$font-comedy,
  Crime: variables.$font-crime,
  Documentary: variables.$font-documentary,
  Drama: variables.$font-drama,
  Family: variables.$font-family,
  Fantasy: variables.$font-fantasy,
  History: variables.$font-history,
  Horror: variables.$font-horror,
  Music: variables.$font-music,
  Mystery: variables.$font-mystery,
  Romance: variables.$font-romance,
  ScienceFiction: variables.$font-scifi,
  Thriller: variables.$font-thriller,
  War: variables.$font-war,
  Western: variables.$font-western,
);

@each $genre, $font in $genre-fonts {
  .#{$genre} {
    font-family: #{$font} !important;
  }
}

@each $genre, $colors in variables.$btn-gradients {
  $color1: map.get($colors, color1 );
  $color2: map.get($colors, color2 );
  $color3: map.get($colors, color3 );

  .btn-#{$genre}{
    background-image: linear-gradient(144deg, $color1, $color2 50%, $color3) !important;
  }
}

%button {
  @include mixin.flex-layout(column);
  border: 0;
  border-radius: variables.$border-radius;
  box-shadow: variables.$shadow_color 0 15px 30px -5px;
  box-sizing: border-box;
  color: variables.$white_color;
  line-height: 23px;
  letter-spacing: 0.3px;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &:active,
  &:hover{
    outline: 0;
  }
}