$white_color : #fffdfdff;
$primary_color: #07070a;
$accent_color_one: #AF40FF;
$accent_color_two: #5B42F3;
$accent_color_three: #00DDEB;
$shadow_color: #9741fc33;
$border-radius: 8px;

$gradient : linear-gradient(144deg, $accent_color_one, $accent_color_two 50%, $accent_color_three);
$mask-gradient : linear-gradient(to bottom, $primary_color, #00000000);

$font-roboto-regular: 'Roboto-regular';
$font-roboto-light: 'Roboto-light';
$font-roboto-bold: 'Roboto-bold';
$font-roboto-thin: 'Roboto-thiin';

$font-action: 'Bangers';
$font-adventure: 'FrederickatheGreat';
$font-animation: 'Chewy';
$font-comedy: 'PermanentMarker';
$font-crime: 'Anton';
$font-documentary: 'Merriweather';
$font-drama: 'PlayfairDisplay';
$font-family: 'HachiMaruPop';
$font-fantasy: 'Bokor';
$font-history: 'CrimsonText';
$font-horror: 'Creepster';
$font-music: 'AmaticSC';
$font-mystery: 'SpecialElite';
$font-romance: 'DancingScript';
$font-scifi: 'Orbitron';
$font-thriller: 'BebasNeue';
$font-war: 'Cinzel';
$font-western: 'Rye';

$font-sizes: (
  xxlarge: 4rem, 
  xlarge: 2rem,
  large: 1rem,
  medium: 0.875rem,
  smaill: 0.675rem
);

