@use '../../styles/variables';
@use '../../styles/mixin';

.category{
  color: variables.$white_color;
  padding-bottom: 32px;

  h2{
    padding-bottom: 2%;
  }

  &__carousel{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }

    &__item{
      flex: 0 0 auto;
      width: 200px;
      scroll-snap-align: start;
      @include mixin.text-details(20px, 0.3px, left);
      cursor: pointer;
      position: relative;
      
      img{
        width: 100%;
        height: auto;
        border-radius: variables.$border-radius;
        object-fit: cover;

        &:hover{
          transform: scale(1.02);
        }
      }
    }

    &__title{
      @include mixin.text-format(variables.$font-roboto-bold, medium);
      margin-top: 0.5rem;
      color: variables.$white_color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span{
        @include mixin.text-format(variables.$font-roboto-regular, small);
        margin-top: 2px;
      }
    }
  }
}