@use '../../styles/variables';
@use '../../styles/mixin';

.navbar {
  @include mixin.flex-layout(row, space-between);
  height: 50px;
  width: 95%;
  padding: 4px 3vw;
  position: fixed;
  top: 3%;
  z-index: 10;
  transition: background-color 0.3s ease;
  background-color: transparent;

  &__logoContainer {
    width: 200px;
  }
}

.menu {
  @include mixin.flex-layout(row, flex-end);
  width: 50%;
  height: 100%;

  &__link {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: variables.$border-radius;
    transition: 300ms;

    &:hover{
      color: variables.$white_color;
      background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
      border-radius: variables.$border-radius;
    }
  }
}
