@use '../../styles/variables';
@use '../../styles/mixin';

.fav__container{
  @include mixin.grid-layout(repeat(auto-fill, minmax(220px, 1fr)), 16px, 16px);
  box-sizing: border-box;
  padding-top: 6rem;
  max-width: 95%;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    gap: 1em;
  }
}

.gallery{
  border-radius: variables.$border-radius;
  overflow: hidden;
  &__item{
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;

    &__image{
      width: 100%;
      height: auto;
      aspect-ratio: auto;
      opacity:0;
      @include mixin.fadein-animation;
      border-radius: variables.$border-radius;
      cursor: pointer;
      
      &:hover{
        transform: scale(1.02);
      }
    }

    &__title{
      @include mixin.text-format(variables.$font-roboto-bold, medium); 
      @include mixin.text-details(20px, 0.3px, left);
      padding-top: 4px;
      cursor: pointer;
      margin-top: 0.5rem;
      color: variables.$white_color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span{
        @include mixin.text-format(variables.$font-roboto-regular, small); 
        margin-top: 2px;
      }
    }
  }
}

.fade-in-animate{
  animation-name: fade-in;
}

@keyframes fade-in{
  100%{
    opacity: 1;
  }
}