@use '../../styles/variables';

.fav__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  box-sizing: border-box;
  padding-top: 6rem;
  max-width: 95%;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    gap:1em;
  }
}

.gallery{
  border-radius: 8px;
  overflow: hidden;
  &__item{
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;

    &__image{
      width: 100%;
      height: auto;
      aspect-ratio: auto;
      opacity:0;
      animation-name: fade-in;
      animation-duration: 1s ;
      animation-fill-mode:forwards;
      border-radius: 8px;
      cursor: pointer;
      
      &:hover{
        transform: scale(1.02);
      }
    }

    &__title{
      padding-top: 4px;
      cursor: pointer;
      font-family: 'Roboto-bold';
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: variables.$white_color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span{
        font-family: 'Roboto-regular';
        margin-top: 2px;
        font-size: 0.675rem;
      }
    }
  }
}

.fade-in-animate{
  animation-name: fade-in;
}

@keyframes fade-in{
  100%{
    opacity: 1;
  }
}